# node_modules (librerías instaladas)
node_modules/
server/node_modules/
*/node_modules/

# builds generados
dist/
server/dist/
server/frontend/build/

# credenciales y llaves
.env
*.env
server/.env
*.log
*.bak
firebase-service-account.json
firestore-debug.log
firebase-debug.log

# archivos temporales del sistema / editor
.vscode/
.DS_Store
Thumbs.db
